# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Visual Studio Code
.vscode/

# Windows system files
Thumbs.db
Desktop.ini.terraform/
*.tfstate*
awscliv2.zip
aws/
